body{
    background-color: white;
}
.color{
    color: red;
}
font-size: 50%;
image{
    size: 20px;
}
section{
    display: flex;
}
.halp{
    width:100%;
    padding left: 80px 200px;
}
.halp img{
    width:70%;
}